body {
    height: 200px;
    background: beige;
}

.dot {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    /* rounds corners */
    background: blue;
    position: absolute;
}

div {
    display: flex;
    flex-direction: column;
    width: 200px;
    align-items: flex-start;
    width: max-content;
    margin: 0;
    text-align: left;
}

.container select, .container button {
    width: auto;
}

#colorText {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}