/* General styles */
body {
    font-family: 'Montserrat', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../images/mountain_background.jpg'); 
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    color: #353535;
}

#container {
    background-color: #FFFFFF;
    border-radius: 1%;
    /* width: 90%; */
    margin: 10px 5px;
}

/* Heading Style */
header {
    background-color: #284B63;
    border-color: #353535;
    color: #FFFFFF;
    padding: 10px 0;
    border-radius: 1%;
    text-align: center;
}


/* Menu Styling */
#topmenu {
    background: #3C6E71;
    padding: 10px 10px;
    color: #FFFFFF;
    border-bottom: 1px solid #353535;
    border-top: 1px solid #353535;
    margin-top: 15px;
    text-align: center;
}

#topmenu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#topmenu li {
    display: inline;
    padding: 0 20px 0 0;
}

#topmenu li a {
    color: #FFFFFF
}

#topmenu li a:visited {
    color: #353535;
}

#search-container {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0px;
    display: flex;
}

.search {
    margin-left: auto;
}

.portfolio-description {
    background-color: #FFFFFF;
    border: 1px solid #284B63;
    border-radius: 10px;
    padding: 20px;
    max-width: 800px;
    margin: 30px auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.portfolio-description p {
    font-size: 1.1em;
    color: #333;
    line-height: 1.6;
    margin-bottom: 15px;
}

.about-me-card {
    background-color: #FFFFFF;
    border: 1px solid #284B63;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
}

.about-me-card h4 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #353535;
}

.about-me-card p {
    font-size: 1.1em;
    color: #353535;
    line-height: 1.6;
}

.text-card {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #284B63;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, Helvetica, sans-serif;
    color: #353535;
}

.text-card h4 {
    font-size: 25px;
    margin-bottom: 15px;
    margin-top: 0;
}

.qa-card {
    background-color: #f9f9f9; /* Light background for questions/answers */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Light shadow */
}

.qa-card h4 {
    font-size: 18px; /* Set the font size for the question */
    font-weight: bold; /* Make the question bold */
    margin-bottom: 10px; /* Space between question and answer */
    color: #353535; /* Set color for the question */
}

.content-container, .module-container {
    margin: 30px;
    padding: 5px;
    border: 1px solid #3C6E71;
    border-radius: 5px;
    
}

.module-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}


.content-title {
    margin-bottom: 10px;
    text-align: center;
    width: 500px;
    transform: translateX(3%);
}

.stack-container {
    width: 320px;
    margin: 50px auto;
    position: relative;
    height: 300px;
}

/* Card container */
.card {
    padding: 50px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
    position: absolute;
    width: 250px;
    height: 150px;
    transition: transform 0.5s ease-in-out;
    z-index: 1; /* Ensure cards stack on top of each other */
    border: 1px solid #ccc;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Image styling */
.card-img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    user-select: none;
}
/* Text styling */
.card-text {
    display: block;
    padding: 10px;
    text-align: center;
    color: #353535;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    user-select: none;
}

.card-text:hover {
    color: #3C6E71;
}

.contact-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 20%;
}

.form-container label,
.form-container input,
.form-container textarea,
.form-container button {
    margin: 0;
    padding: 5px;
    /* border: 1px solid #ccc */
}

.form-container label {
    text-align: left;
    font-weight: bold;
}



/* Artifact items styling */
.artifacts {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.artifactbox {
    box-shadow: 0 2px 4px #353535;
    padding: 10px;
    max-width: 400px; /* Width of each artifact box */
    border: 0px solid #3C6E71;
    margin: 0 10px; /* Space between artifact boxes */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.artifactsimg {
    margin: 5px 10px;
    width: 100px;
    height: 100px;
}

/* Validation page styling */
#validation {
    margin-top: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.column {
    width: 45%;
    margin: 0 2.5%;
}

.imgvalidation {
    width: 350px;
    height: 200px;
}

/* footer styling */
#footer { 
    background: #284B63;
    color: #FFFFFF;
    padding: 20px;
    border-top: 1px solid #3C6E71;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 20px;
}

#footer a { 
    color: #fff; 
    text-decoration: none; 
    border-bottom: 1px solid #FFFFFF; 
}

.left { 
    float: left; 
}

.right { 
    float: right; 
}

.clear { 
    clear: both; 
}

.audio-container {
    display: none;
}
