/* General styles */
body {
    font-family: 'Montserrat', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../images/mountain_background.jpg'); 
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    color: #353535;
}

/* Container for all content */
#container {
    background-color: #FFFFFF;
    border-radius: 1%;
    margin: 10px 5px;
}

/* Heading Style */
header {
    background-color: #284B63;
    border-color: #353535;
    color: #FFFFFF;
    padding: 10px 0;
    border-radius: 1%;
    text-align: center;
}


/* Menu Styling */
#topmenu {
    background: #3C6E71;
    padding: 10px 10px;
    color: #FFFFFF;
    border-bottom: 1px solid #353535;
    border-top: 1px solid #353535;
    margin-top: 15px;
    text-align: center;
}

#topmenu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#topmenu li {
    display: inline;
    padding: 0 20px 0 0;
}

#topmenu li a {
    color: #FFFFFF
}

#topmenu li a:visited {
    color: #353535;
}

/* Search bar styling */
#search-container {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0px;
    display: flex;
}

.search {
    margin-left: auto;
}

/* mute button styling */
button.mute-button {
    float: right;
}

button.mute-button img {
    width: 32px;
    height: 32px;
}

/* main content in each page styling */
.content-container,
.module-container {
    margin: 30px;
    padding: 5px;
    border: 1px solid #3C6E71;
    border-radius: 5px;

}

/* Home page portfolio styling */
.portfolio-description {
    background-color: #FFFFFF;
    border: 1px solid #284B63;
    border-radius: 10px;
    padding: 20px;
    max-width: 800px;
    margin: 30px auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.portfolio-description p {
    font-size: 1.1em;
    color: #333;
    line-height: 1.6;
    margin-bottom: 15px;
}

/* About Me page styling */
.about-me-card {
    background-color: #FFFFFF;
    border: 1px solid #284B63;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
}

.about-me-card h4 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #353535;
}

.about-me-card p {
    font-size: 1.1em;
    color: #353535;
    line-height: 1.6;
}

.codingGIF {
    width: 100%;
}

/* Courses Page Styling */
.text-card {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #284B63;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #353535;
}

.text-card h4 {
    font-size: 25px;
    margin-bottom: 15px;
    margin-top: 0;
}

/* QA portfion of card for courses */
.qa-card {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.qa-card h4 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #353535;
}

/* Artifact page styling */
.artifacts {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.artifactbox {
    box-shadow: 0 2px 4px #353535;
    padding: 10px;
    max-width: 400px;    /* Width of each artifact box */
    border: 0px solid #3C6E71;
    margin: 0 10px; /* Space between artifact boxes */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.artifactsimg {
    margin: 5px 10px;
    width: 100px;
    height: 100px;
}

/* Start of module page styling */
/* more styling specific to modules */
.module-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.pointer-label {
    font-size: 20px;
    font-weight: bold;
}

.pointer {
    height: 100px;
    width: 100px;
    animation: moveUpDown 2s infinite;
}

@keyframes moveUpDown {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}

/* Module text/title above cards */
.content-title {
    margin-bottom: 10px;
    text-align: center;
    width: 500px;
    transform: translateX(3%);
}

/* style for the stack of cards */
.stack-container {
    width: 320px;
    margin: 50px auto;
    position: relative;
    height: 300px;
}

/* CSS to make each module look like a card */
.card {
    padding: 50px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
    position: absolute;
    width: 250px;
    height: 150px;
    transition: transform 0.5s ease-in-out; /* creates a transition on click */
    z-index: 1; /* Ensure cards stack on top of each other */
    border: 1px solid #ccc;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Image styling on each module card*/
.card-img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    user-select: none; /* noticing that the image kept getting highlighted when selected, used this to remove that */
}

/* Text styling on each module card*/
.card-text {
    display: block;
    padding: 10px;
    text-align: center;
    color: #353535;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none; /* removes the underline on hyperlinks */
    user-select: none; /* noticing that the image kept getting highlighted when selected, used this to remove that */
}

/* When hovering over text/link for modules*/
.card-text:hover {
    color: #3C6E71;
}

/* styling for container of contact form */
.contact-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Contact form styling */
.form-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 20%;
}

.form-container label,
.form-container input,
.form-container textarea,
.form-container button {
    margin: 0;
    padding: 5px;
}

.form-container label {
    text-align: left;
    font-weight: bold;
}

/* Hobby Projects page styling */
.project-container {
    display: flex;
    flex-wrap: wrap;
}

/* Style for contents inside each box/block element */
.project-box {
    border: 1px solid #284B63;
    border-radius: 8px;
    box-shadow: 0 2px 4px #353535;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    align-items: center;
}

.project-img {
    max-width: 200px;
    max-height: 200px;
}

.video {
    width: 100%;
    height: 100%;
    border: none;
}

.column {
    width: 45%;
    margin: 0 2.5%;
}

.imgvalidation {
    width: 350px;
    height: 200px;
}

/* Validation page styling */
#validation {
    margin-top: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#errorMessages,
.feedback {
    color: red;
    font-weight: bold;
    font-size: 12px;
    margin: 0;
    /* margin-top: 5px; */
}

/* footer styling */
#footer { 
    background: #284B63;
    color: #FFFFFF;
    padding: 20px;
    border-top: 1px solid #3C6E71;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 20px;
}

#footer a { 
    color: #fff; 
    text-decoration: none; 
    border-bottom: 1px solid #FFFFFF; 
}

.left { 
    float: left; 
}

.right { 
    float: right; 
}

.clear { 
    clear: both; 
}

/* Style for background audio (does not display */
.audio-container {
    display: none;
}
